body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #4CAF50; */
    color: #333;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  h1 {
    margin: 0;
    padding: 0 20px;
    display: inline-block;
    font-size: 2.8em;
  }
  
  main {
    margin-top: 100px; /* Add margin to avoid overlap with fixed header */
    text-align: center;
    padding: 20px;
  }
  
  .intro-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .intro-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .intro-text {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .create-user-button {
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .create-user-button:hover {
    background-color: #45a049;
  }
  
  .images-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .images-container img {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .images-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  }
  
  img {
    padding: 15px;
  }
  